

#ads{
    border-top: 2px solid black;
    padding: 1rem 0 1rem 7rem;
}

#wosb{
  color:$clr-nautral-100;
    background-image: url(/photos/335607-avatar-image-1581360927.jpeg);
    background-size: cover;
    /* padding: 10rem 0 0 ; */
    max-width: 20vw;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden; 
   /*  padding: 8px 0 8px 0; */
    margin: 8px 8px 8px 0;
    transition: transform 500ms ease;
}
#sheraton{
    color:$clr-nautral-100;
    background-image: url(/photos/sheraton.png);
    background-size: cover;
    /* padding: 10rem 0 0 ; */
    max-width: 20vw;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden; 
   /*  padding: 8px 0 8px 0; */
    margin: 8px 8px 8px 0;
    transition: transform 500ms ease;
}
#ace{
    color:$clr-nautral-100;
    background-image: url(/photos/ace.png);
    background-size: cover;
    /* padding: 10rem 0 0 ; */
    max-width: 20vw;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden; 
   /*  padding: 8px 0 8px 0; */
    margin: 8px 8px 8px 0;
    transition: transform 500ms ease;
}
#the-ritz-carlton{
    color:$clr-nautral-100;
    background-image: url(/photos/the-ritz-carlton.png);
    background-size: cover;
    /* padding: 10rem 0 0 ; */
    max-width: 20vw;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden; 
    /* padding: 8px 0 8px 0; */
    margin: 8px 8px 8px 0;
    transition: transform 500ms ease;
}
#parking{
    color:$clr-nautral-100;
    background-image: url(/photos/parking.jpg);
    background-size: cover;
    /* padding: 10rem 0 0 ; */
    max-width: 20vw;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden; 
   /*  padding: 8px 0 8px 0; */
    margin: 8px 8px 8px 0;
    transition: transform 500ms ease;
}
#lcm{
    color:$clr-nautral-100;
    background-image: url(/photos/lcm.png);
    background-size: cover;
    /* padding: 10rem 0 0 ; */
    max-width: 20vw;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden; 
    /* padding: 8px 0 8px 0; */
    margin: 8px 8px 8px 0;
    transition: transform 500ms ease;

}
#death{
    color:$clr-nautral-100;
    background-image: url(/photos/death.jpg);
    background-size: cover;
    /* padding: 10rem 0 0 ; */
    max-width: 20vw;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden; 
    /* padding: 8px 0 8px 0; */
    margin: 8px 8px 8px 0;
    transition: transform 500ms ease;
}
#haunted{
    color:$clr-nautral-100;
    background-image: url(/photos/haunted2.png);
    background-size: cover;
    /* padding: 10rem 0 0 ; */
    max-width: 20vw;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden; 
    /* padding: 8px 0 8px 0; */
    margin: 8px 8px 8px 0;
    transition: transform 500ms ease;

}

.card-title{
    position: relative;
    width: max-content;
    color: #ffffff;
    &::after {
    content: "";
    position: absolute;
    height: 4px;
    left: 0;
    bottom: -2px;
    width: 100%;
    background: $clr--accent-300;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}
    /* outline: 1px solid red; */
}

.card-body p{
    color: #ffffff;
}

.card:focus-within .card-content{
    transition-duration: 0ms;
}
.card:hover .card-title::after{
    transform: scaleX(1);
}
.card:hover,
.card:focus-within{
    transform: scale(1.05);
}
.card-content{
    $padding:1.5rem;
    padding:$padding;
    background:linear-gradient($bgc1,$bgc2 10%,$bgc3);
}


@media (hover){
    .card-content{
          transform: translateY(65%);
          transition: transform 500ms ease;
}
.card:hover .card-content,
.card:focus-within .card-content{
    transform: translateY(0);
    transition-delay:500ms;
    
}
.card-content > *:not(.card-title){
    opacity: 0;
    
}
.card:hover .card-content > *:not(.card-title),
.card:focus-within .card-content > *:not(.card-title){
    opacity: 1;
    
}
.card-title::after {
     transform: scaleX(0);
    }
}

@media (max-width:1000px) {
    .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card{
      min-width: 30vh;
      max-height: 30vh;
  }

    
}