*,
*::before,
*::after{
    padding: 0;
    margin: 0; 
    box-sizing: border-box ;
}
body{
    /* display: grid;
    min-height: 100vh;
    place-items: center; */
    line-height: 1.6 !important;
    
    background-color: #fdf8e5 !important;
   
}
.main{
     width: 80vw;
     margin: 0 auto;
}
p{
    font-family: 'Pattaya';
    font-family: 'Henny Penny';
    font-size: 1.3125;
    font-weight: 400;
}

