$padding2:7rem;
$bg-d: #222c2a;
$bg-l: #f3eed9;
$bg-p:$clr-accent-500;


.media-body h1,
.media-body h2,
.media-body h3{
    color: $clr-accent-400;
    font-family: 'Henny Penny';
    font-weight: 900;
    line-height: 1;
}
 header .h1{
    
    text-align: center;
    position: relative;
    width: 41vw;
    margin: 3% auto;
    &::after{
        content: "";
        position: absolute;
        height: 4px;
        left: 0;
        bottom: -2px;
        width: 100%;
        background: $clr-accent-400;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 500ms ease;
    }
}
 header:hover .h1::after{
     transform: scaleX(1);
}
.media-body img, iframe{
    display: block;
    max-width: 100%;
    border: 3px solid black;

}
.bg-l{background-color: $bg-d;
 }
 
.bg-d{
    background-color: $bg-p;
    color: #ffffff;
}
.bg-p{
    background-color: $bg-d;
    color: #ffffff;
}
.media-body section{
    padding: 4rem 0;
}
.media-body header{
    padding: 4.5rem 0;
    margin: 0;
   
}
/* @media (min-width:40em) {
    .media-body section,
    .media-body header{
    padding: 4.5rem 0;
   
}

    
} */
.container{
    margin-inline: auto;
}
.media-body h1,
 .media-body h2,
 .media-body h3,
 .media-body p{
    margin-bottom: 1em;
}
.tc{
    text-align: center;
    margin-top: 7.2rem;
}
.container--narrow{
    max-width: 34rem;
}

.split{
    display: flex;
    flex-direction: column;
    padding: 2em;
}
@media (min-width:40em){
    .split{
        flex-direction: row;
    }
    .split > *{
        flex-basis: 100%;
    }
    .split > * + *{
        margin-left: 2em;
    }
}




.container-floats{
    position: relative;
    padding: $padding2;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid black;
    background-image: url(/photos/float-sm.png);
    background-position: center;
    background-size: cover;
    transition: transform 800ms ease;
    &:hover{
        transform: rotate(360deg);
    }

}

.container-indian{
    position: relative;
    padding: $padding2;
    border-radius: 50%;
    border: 5px solid black;
    background-image: url(/photos/indian-big.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 800ms ease;
    &:hover{
        transform: rotate(360deg);
    }
  }
  .container-trees{
    position: relative;
    padding: $padding2;
    border-radius: 50%;
    border: 5px solid black;
    background-image: url(/photos/tree-big.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 800ms ease;
    &:hover{
        transform: rotate(360deg);
    }

  }
 .bg{
      
      position: absolute;
      padding: $padding2;
      border-radius: 50%;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
      background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9));
      &:hover{
          cursor: pointer;
           opacity: 0;
              transition: opacity 0.5s ease-in-out;
              
            }
  }
   





#custumes,
#trees,
#floats {
    width: 30vw;
    margin: 6% auto;
    position: relative;
    display: none;
    
    
    
}
#custumes a img,
#trees a img,
#floats a img{
    width: 50vh;
    height: auto;
    border-radius: 50%;
    
    
}
.caption{
    display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4em;
  font-weight: 550;
  color: #ffffff;
  width: fit-content;
  font-family: 'Pattaya';
}
.after::after{
      position: absolute;
       content: "";
       height: 4px;
       background-color: $clr--accent-300;
       width: 80%;
       left: 0;
       right: 0;
       transform: translate(13%, -50%);
       top: 76%;
  }
 #custumes a,
#trees a,
#floats a {
     width: 30vh;
     margin: 5px;
     
 }
 #hidden{
     visibility: hidden;
     display: none;
 }

