$padding2:7rem;
$bg-d: #222c2a;
$bg-l: #f3eed9;
$bg-p:$clr-accent-500;


  
  .h2-media{
    position: relative;
    color: black;
    font-family: 'Henny Penny';
    font-weight: 900;
    line-height: 1;
    padding-bottom: 5px;
    
}
div.container--narrow{
    width: 50em;
    margin: 0 auto;
}
.h1-a{
    text-align: center;
    position: relative;
    width: 18em;
    margin: 3% auto;
       font-weight: 600;
      font-size: 2em;
      text-align: center;
    color: $clr-accent-400;
    &::after{
        content: "";
        position: absolute;
        height: 4px;
        left: 0;
        bottom: -2px;
        width: 100%;
        background: $clr-accent-400;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 500ms ease;
    }
   
}
.tc:hover .h1-a::after{
        transform: scaleX(1);
   
}


 header .h1{
    
    text-align: center;
    position: relative;
    width: 41vw;
    margin: 3% auto;
    color: black;
    &::after{
        content: "";
        position: absolute;
        height: 4px;
        left: 0;
        bottom: -2px;
        width: 100%;
        background: black;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 500ms ease;
    }
}
.h2-media::after{
        content: "";
        position: absolute;
        height: 4px;
        left: 0;
        bottom: -2px;
        width: 100%;
        background: black;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 500ms ease;
    }
 header:hover .h1::after{
     transform: scaleX(1);
}
.bg-d:hover .h2-media::after{
    transform: scaleX(1);
}
.media-body img, iframe{
    display: block;
    max-width: 100%;

}
.bg-l{
    border-bottom: 3px solid black;
    background: linear-gradient(to right ,#9c5cad, #f2cc06);
    
    font-weight: bolder;
    font-size: 1.6em;
    color: #ffffff;
}
 
 
.bg-d{
    border-bottom: 3px solid black;
    background: linear-gradient(to right ,#9c5cad, #8cbf3f);
    font-weight: bolder;
    font-size: 1.6em;
    color: #ffffff;
}

.bg-p{
    border-bottom: 3px solid black;
    background: linear-gradient(to right, #1b0322,#9c5cad);
    font-weight: bolder;
    font-size: 1.6em;
    color: #ffffff;
}
.media-body section{
    padding: 2rem 0;
}
.media-body header{
    padding: 4.5rem 0 0 0;
    margin: 0;
   /*  background: linear-gradient(to right, #1b0322,#9c5cad);  */
   
}
/* @media (min-width:40em) {
    .media-body section,
    .media-body header{
    padding: 4.5rem 0;
   
}

    
} */
.container{
    margin-inline: auto;
}
 h1,
 h2,
  h3,
  p{
    margin-bottom: 1em;
    font-family: 'Pattaya';
    font-family: 'Henny Penny';
    font-size: 1.3125;
    font-weight: 400;

}



/* .media-body h1{
   

} */
.media-body p{
    font-size: 1.3em;
}


.tc{
    text-align: center;
    margin: 7.2rem 0rem 7.2rem 0rem;
    padding-bottom: 10rem;
}
.container--narrow{
    max-width: 34rem;
}

.split{
    display: flex;
    flex-direction: column;
    padding: 2em;
    font-style: 1.3em;
    font-weight: 900;
}
@media (min-width:40em){
    .split{
        flex-direction: row;
    }
    .split > *{
        flex-basis: 100%;
    }
    .split > * + *{
        margin-left: 2em;
    }
}


/* 

.container-floats{
    position: relative;
    padding: $padding2;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid black;
    background-image: url(/photos/float-sm.png);
    background-position: center;
    background-size: cover;
    transition: transform 800ms ease;
    &:hover{
        transform: rotate(360deg);
    }

} */

.ind-d{
    position: relative;
    padding: 8rem;
    border-radius: 50%;
    opacity: 0.4;
    border: 5px solid black;
    background-image: url(/photos/indian-big.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 1s ease;
    /* transition: 0.5s ease-in-out; */

    &:hover{
        transform: rotate(360deg);
        opacity: 1;
    }
  }
  .ind-t{
    position: relative;
    padding: 8rem;
    border-radius: 50%;
    opacity: 0.4;
    border: 5px solid black;
    background-image: url(/photos/tree-big.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 1s ease;
    /* transition: 0.5s ease-in-out; */

    &:hover{
        transform: rotate(360deg);
        opacity: 1;
    }
  }
  .ind-f{
    position: relative;
    padding: 8rem;
    border-radius: 50%;
    opacity: 0.4;
    border: 5px solid black;
    background-image: url(/photos/float-sm.png);
    background-position: center;
    background-size: cover;
    transition: transform 1s ease;
    /* transition: 0.5s ease-in-out; */

    &:hover{
        transform: rotate(360deg);
        opacity: 1;
    }
  }
/*   .container-trees{
    position: relative;
    padding: $padding2;
    border-radius: 50%;
    border: 5px solid black;
    background-image: url(/photos/tree-big.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 800ms ease;
    &:hover{
        transform: rotate(360deg);
    }

  }
 .bg-custom,
 .bg-floats,
 .bg-trees,
 {
      
      position: relative;
      padding: $padding2;
      border-radius: 50%;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
      background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9));
      &:hover{
          cursor: pointer;
           opacity: 0;
              transition: opacity 0.5s ease-in-out;
              
            }
  } */
/*    .div{
    position: relative;
    padding: 0;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.9));


   &:hover{
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
            
   }
   }
 */


/* 
#custumes,
#trees,
#floats {
    width: 30vw;
    margin: 6% auto;
    position: relative;
    display: none;
    
    
    
}
#custumes a img,
#trees a img,
#floats a img, */
.media-body .ind{
    width: 50vh;
    height: auto;
    border-radius: 50%;
    
    
}
/* .caption{
    display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4em;
  font-weight: 550;
  color: #ffffff;
  width: fit-content;
  font-family: 'Pattaya';
}
.after::after{
      position: absolute;
       content: "";
       height: 4px;
       background-color: $clr-accent-400;
       width: 80%;
       left: 0;
       right: 0;
       transform: translate(13%, -50%);
       top: 76%;
  }
 #custumes a,
#trees a,
#floats a, */
.ind {
     width: 30vh;
     margin: 5px;
     
 }
 #hidden{
     visibility: hidden;
     display: none;
 }

