nav{
    background-color: #8cbf3f;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
}
.offcanvas{
    background-color: #8cbf3f;
}

a{
    text-decoration: none;
}
#logo{
    width: 4rem;
}